<!DOCTYPE html>
<html>
<head>
    <title>OTP Verification</title>

    <!-- CSS LINK (IMPORTANT FIX) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h2>OTP Verification</h2>

    <input id="email" placeholder="Enter Email">
    <input id="otp" placeholder="Enter OTP">

    <button onclick="verifyOTP()">Verify OTP</button>

    <p id="msg"></p>

</div>

<script>
function verifyOTP() {

    fetch("/verify", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            email: document.getElementById("email").value,
            otp: document.getElementById("otp").value
        })
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("msg").innerText = data.message;
    })
    .catch(err => {
        alert("Error verifying OTP");
        console.log(err);
    });

}
</script>

</body>
</html>
